# User-specific files

callgrind-out.*
callgrind*.*
valgrind-out.*
valgrind*.*

build/
thirdparty/
RegressionTest/Results
RegressionTest/TestSet
RegressionTest/PerfResults
RegressionTest/PerfTestSet
UnitTest/Test Results

